.body{
  margin:0;
  padding:0;
}

.heading{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-direction:row;

}
.applications-details p{
  font-size:larger;
}
.search-option{
  padding:15px;
  height:20px;
  width:300px;
  font-size:medium;
  border:solid 1px gray;
}

.Add-Button{
  padding:15px;
  font-size:medium;
  background-color:white;
  border:solid 3px gray;
  border-radius: 4px;

}

.Job-applications{
  display:flex;
  justify-content:space-around;
  margin:20px;
}

.Card{
  margin-top:30px;
   flex-direction:column-reverse;
}

.Applied h4{
  color:rgb(177, 10, 10);
  font-size:30px;
}

.Interview h4{
  color:rgb(10, 177, 10);
  font-size:30px;
}

.Offer h4{
  color:rgb(184, 161, 12);
  font-size:30px;
}
.Rejected h4{
  color:rgb(10, 10, 177);
  font-size:30px;
}
